* {
    box-sizing: border-box
}
body {
    font-family: Verdana, sans-serif;
    margin:0;
    background-image: url(bg.jpg);
    
}
.slider {
    display: none
}

.imgSlide{
    text-align: center;
}
img {
    width: auto;
    height: 100%;
    vertical-align: middle;
    max-height: 750px;
    max-width: 1000px;
}

.contentSlide {
    height: 1000px;
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 100%;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}



.titleSlide{
    text-align: center;
    width: 100%;
    padding: 1px 5px;
    background-color: #717171;
    border: 2px solid #686868;
}

.textSlide {
    background-color: #717171;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    display: block;
}

.puntos{
    text-align: center;
    padding: 5px;
    margin: 10px;
    align-items: center;
    display: block;
    position: absolute;
    right: 50%;
    bottom: 20px;
    width: auto;
}

.punto {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .punto:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
    next,.text {font-size: 11px}
}